singularity {
    enabled = true
    runOptions = "--bind $projectDir"
}

profiles {
 
    standard {

        params.cpu = 8
        params.mem = '64 GB'

        process {
            executor = 'local'
            memory = "$params.mem"
            cpus = "$params.cpu"
            container = "$projectDir/epityping_latest.sif"

            withLabel: var_call {
              container = "$projectDir/gatk_latest.sif"
            }            
        }
    }

    cluster {

        params.cpu = 12
        params.mem = '64 GB'

        process {
            executor = 'slurm'
            memory = "$params.mem"
            cpus = "$params.cpu"
            time = '4 hour'
            container = "$projectDir/epityping_latest.sif"

            withLabel: var_call {
              container = "$projectDir/gatk_latest.sif"
            }
        }
    }
}
