singularity {
    enabled = true
    runOptions = "--bind $projectDir"
}

profiles {
 
    standard {

        params.cpu = 8

        process {
            executor = 'local'
            memory = '64 GB'
            cpus = "$params.cpu"
            container = "$projectDir/VarCallImage.sif"

            withLabel: var_call {
              container = "$projectDir/gatk_latest.sif"
            }            
        }
    }

    cluster {

        params.cpu = 12

        process {
            executor = 'slurm'
            memory = '64 GB'
            cpus = "$params.cpu"
            time = '4 hour'
            container = "$projectDir/VarCallImage.sif"

            withLabel: var_call {
              container = "$projectDir/gatk_latest.sif"
            }
        }
    }
}
